@model CetBookStore.ViewModels.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}


  <div class="container mt-5">
    <h2 class="mb-4"> Most Commented Books </h2>
    <div class="row g-4">

    @foreach (var book in Model.MostCommenteds)
    {
            <partial name="BookPartial" model="@book" />
    }
    </div>
  </div>
  <hr />
<div class="container mt-5">
    <h2 class="mb-4"> New Arrivals </h2>
    <div class="row g-4">

        @foreach (var book in Model.NewArrivals)
        {
            <partial name="BookPartial" model="@book" />

        }
    </div>
</div>
<hr />
<div class="container mt-5">
    <h2 class="mb-4"> Some others </h2>
    <div class="row g-4">

        @foreach (var book in Model.RandomBoooks)
        {
           <partial name="BookPartial" model="@book" />


        }
    </div>
</div>